@model Folio.ViewModels.AddStockToPortfolioViewModel

@{
    ViewData["Title"] = "Add Stock to Portfolio";
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#ticker').autocomplete({
            source: '@Url.Action("Autocomplete")'
        });
    })
</script>

<h2>Add a Stock to Portfolio: @Model.WorkingPortfolio.Name</h2>

@if (Model.UserPortfolios.Count() > 0)
{
    <p>Change Portfolio To:</p>
<ul>
    @foreach(Portfolio portfolio in Model.UserPortfolios)
    {
        <li><a asp-action="AddStock" asp-route-id="@portfolio.ID">@portfolio.Name</a></li>
    }
</ul>
}

<hr />
<p>Search for a stock ticker below to add it.</p>
<form asp-action="AddStock" id="search-stock">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div>
        @Html.Label("Ticker Search:")
        @Html.TextBox("ticker", "", new { name = "ticker", @class = "stock-input", @style = "margin-bottom: 15px" } )
        @Html.Label("Number of Stocks:")
        @Html.TextBox("amount", "", new { name = "amount", @class = "stock-input" } )
        <input type="submit" class="portfolio-button" value="Add Stock">
    </div>
</form>

@if (Model.WorkingPortfolio.PortfolioAssets.Count() > 0)
{
    <div class="owned-stocks">
        <label>Owned Stocks:</label>
        @foreach(PortfolioAsset asset in Model.WorkingPortfolio.PortfolioAssets)
        {
            <p>@asset.AssetSymbol</p>
        }
    </div>
}