@model Folio.ViewModels.AddStockToPortfolioViewModel

@{
    ViewData["Title"] = "Add Stock to Portfolio";
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#tickerinput").autocomplete({
            source: '@Url.Action("Autocomplete")'
        });
        $("#get-stock-data").click(function () {
            var sym = $("#tickerinput").val();
            $("#stock-table-header").html("Current Data For " + sym);
            var baseApiUri = "https://query.yahooapis.com/v1/public/yql";
            var queryUri = encodeURIComponent("select * from yahoo.finance.quotes where symbol in ('" + sym + "')");
            var formatUri = "&format=json&diagnostics=true&env=http://datatables.org/alltables.env"

            $.getJSON(baseApiUri, "q=" + queryUri + formatUri).done(function (data) {
                console.log(data);
                $("#table-ticker").text(data.query.results.quote.Symbol);
                $("#table-price").text(data.query.results.quote.LastTradePriceOnly);
                $("#table-change").text(data.query.results.quote.PercentChange);
                $("#table-stock-name").text(data.query.results.quote.Name);
            }).fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log(error);
            });
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <h2>Add a Stock to Portfolio: @Model.WorkingPortfolio.Name</h2>

        @if (Model.UserPortfolios.Count() > 0)
        {
            <p>Change Portfolio To:</p>
            <ul>
                @foreach (Portfolio portfolio in Model.UserPortfolios)
                {
                    <li><a asp-action="AddStock" asp-route-id="@portfolio.ID">@portfolio.Name</a></li>
                }
            </ul>
        }
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="stock-search">
            <h4>Search for a Stock:</h4>
            <form asp-action="AddStock" id="search-stock">
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <div>
                    @Html.Label("Ticker Search:")
                    @Html.TextBox("tickerinput", "", new { name = "ticker", @class = "stock-input", @style = "margin-bottom: 15px" })
                    @Html.Label("Shares Held:")
                    @Html.TextBox("amount", "", new { name = "amount", @class = "stock-input" })
                    <button id="get-stock-data" type="button" class="portfolio-button">Get Stock Data</button>
                    <input type="submit" class="portfolio-button" value="Add Stock">
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-8">
        <div class="stock-table">
            <div class="stock-table-title" id="stock-information-header">
                <h4 id="stock-table-header">Current Stock Data</h4>
            </div>
            <table class="table-fill" id="stocks">
                <thead>
                    <tr class="stock-table">
                        <th class="text-left">Ticker</th>
                        <th class="text-left">Price</th>
                        <th class="text-left">Change</th>
                        <th class="text-left">Name</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left" id="table-ticker">Enter a Stock</td>
                        <td class="text-left" id="table-price">Enter a Stock</td>
                        <td class="text-left" id="table-change">Enter a Stock</td>
                        <td class="text-left" id="table-stock-name">Enter a Stock</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.WorkingPortfolio.PortfolioAssets.Count() > 0)
        { 
            <div class="table-title">
                <h4>Stocks Held</h4>
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Ticker</th>
                        <th class="text-left">Shares</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PortfolioAsset asset in Model.WorkingPortfolio.PortfolioAssets)
                    {
                        <tr>
                            <td>@asset.AssetSymbol</td>
                            <td>@asset.NumberOfAssetOwned</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div>
    <hr />
    <a asp-action="Index">Back to Portfolios</a>
</div>
