@model Folio.ViewModels.Portfolios.DeleteStockFromPortfolioViewModel

@{
    ViewData["Title"] = "Delete Stock from Portfolio";
}

<div class="row">
    <div class="col-md-12">
        <h2>Delete Stock from Portfolio: @Model.WorkingPortfolio.Name</h2>
        <p>Enter the amount of stock you'd like to delete in the input column and then click "Delete Stock" to remove that amount from your portfolio.</p>
        <p>Change Portfolio To:</p>
        <ul>
            @foreach (Portfolio portfolio in Model.UserPortfolios)
            {
                <li><a asp-action="AddStock" asp-route-id="@portfolio.ID">@portfolio.Name</a></li>
            }
        </ul>
        <hr />
    </div>
</div>

<form asp-action="DeleteStock">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <table class="table">
        <tr>
            <th>Ticker</th>
            <th>Amount Owned</th>
            <th>Amount to Delete</th>
            <th>Confirm</th>
        </tr>
        @foreach (PortfolioAsset asset in @Model.WorkingPortfolio.PortfolioAssets)
        {
            <tr>
                <td>@asset.AssetSymbol</td>
                <td>@asset.NumberOfAssetOwned</td>
                <td>@Html.TextBox("amount-delete", "", new { name = "amountdelete" })</td>
                <td><input type="submit" value="Delete Stock" /></td>
            </tr>
        }
    </table>
</form>

