@model Folio.ViewModels.PortfolioViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Portfolio Details</h2>

<div>
    <h4>@Model.Name Portfolio</h4>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedReturnString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DollarValue)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(model => model.ExpectedReturnString)
        </td>
        <td>
            @Html.DisplayFor(model => model.Variance)
        </td>
        <td>
            @Html.DisplayFor(model => model.DollarValue)
        </td>
    </tr>
</table>

<div>
    <button class="portfolio-button"><a asp-action="Stocks" asp-route-id="@Model.ID"><b>Current Stock Information</b></a></button>
    <button class="portfolio-button"><a asp-controller="MonteCarlo" asp-action="Index" asp-route-id="@Model.ID"><b>Run Monte Carlo Simulation</b></a></button>
    <hr/>
</div>

@if (Model.Stocks != null)
{ 
    <table class= "table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().SharesOwned)
            </th>
        </tr>

        @foreach (var item in Model.Stocks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharesOwned)
                </td>
            </tr>
        }
    </table>
}
    <p>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
