@{
    ViewData["Title"] = "Contact";
}
<h3>Location:</h3>
<address>
    333 Plankington Rd.<br />
    Milwaukee, WI<br />
</address>
<h3>Created By:</h3>
<address>
    <strong>Aaron DeSanctis - UI Designer:   </strong> <input type="button" value="Email Aaron DeSanctis" onclick="location.href='@Url.Action("ContactEmail", "Home")/1'" /><br />
</address>
<address>
    <strong>Alex Morask - Back End Designer:   </strong> <input type="button" value="Email Alex Morask" onclick="location.href='@Url.Action("ContactEmail", "Home")/2'" /><br />
</address>
<address>
    <strong>Chad Hilke - UI Designer:   </strong> <input type="button" value="Email Chad Hilke" onclick="location.href='@Url.Action("ContactEmail", "Home")/3'" /><br />
</address>
<address>
    <strong>Chris Hoelter - Project Lead:   </strong> <input type="button" value="Email Chris Hoelter" onclick="location.href='@Url.Action("ContactEmail", "Home")/4'" /><br />
</address>
<address>
    <strong>Josh Oliver - UI Designer:   </strong> <input type="button" value="Email Josh Oliver" onclick="location.href='@Url.Action("ContactEmail", "Home")/5'" /><br />
</address>
<address>
    <strong>Matt Heller - Back End Designer:   </strong> <input type="button" value="Email Matt Heller" onclick="location.href='@Url.Action("ContactEmail", "Home")/6'" /><br />
</address>
<address>
    <strong>Robert Moon - Back End Designer:   </strong> <input type="button" value="Email Robert Moon" onclick="location.href='@Url.Action("ContactEmail", "Home")/7'" /><br />
</address>