@{
    ViewData["Title"] = "Contact";
}
<h1 class="darkgray">Location:</h1>
<address class="darkgray">
    333 Plankington Rd.<br />
    Milwaukee, WI<br />
</address>
<h1 class="darkgray">Created By:</h1>
<address class="darkgray">
    <strong>Aaron DeSanctis - UI Designer: </strong> <input type="button" value="Contact Aaron" onclick="location.href='@Url.Action("ContactEmail", "Home")/1'" /><br />
</address>
<address class="darkgray">
    <strong>Alex Morask - Back End Designer: </strong> <input type="button" value="Contact Alex" onclick="location.href='@Url.Action("ContactEmail", "Home")/2'" /><br />
</address>
<address class="darkgray">
    <strong>Chad Hilke - UI Designer: </strong> <input type="button" value="Contact Chad" onclick="location.href='@Url.Action("ContactEmail", "Home")/3'" /><br />
</address>
<address class="darkgray">
    <strong>Chris Hoelter - Project Lead: </strong> <input type="button" value="Contact Chris" onclick="location.href='@Url.Action("ContactEmail", "Home")/4'" /><br />
</address>
<address class="darkgray">
    <strong>Josh Oliver - UI Designer: </strong> <input type="button" value="Contact Josh" onclick="location.href='@Url.Action("ContactEmail", "Home")/5'" /><br />
</address>
<address class="darkgray">
    <strong>Matt Heller - Quantitative Developer: </strong> <input type="button" value="Contact Matt" onclick="location.href='@Url.Action("ContactEmail", "Home")/6'" /><br />
</address>
<address class="darkgray">
    <strong>Robert Moon - Back End Designer: </strong> <input type="button" value="Contact Robert" onclick="location.href='@Url.Action("ContactEmail", "Home")/7'" /><br />
</address>