@{
    ViewData["Title"] = "ProcessRequest";
}

<!DOCTYPE html>
@model Folio.Models.Email

<html>
<head>
    <title>Contact Email</title>
</head>
<body>
    <p>Thank you @Model.CustomerName</p>
    @if (@Model.ErrorMessage == "")
    {
        <p>Your email message has been sent to @Model.ContactName;</p> <br/><br/><br/>
        <p>Subject: @Model.EmailSubject</p> <br/><br/>
        <p>Body: @Model.EmailBody</p>


    }
    else {
        <p><b>The email was <em>not</em> sent to @Model.ContactName</b></p><br />
        <p>Please check that your name (@Model.ContactName) and email address (@Model.ContactEmail)</p><br/>
        <p> filled out correctly.Thank you for your patience.</p>
    }
</body>
</html>

